@import "../../../styles";

:host {
  border-radius: solid 2px $layout;
}

h2 {
  text-transform: uppercase;
  border-radius: solid 2px $layout;
}
.components {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  border-radius: solid 2px $layout;
}
