/* You can add global styles to this file, and also import other style files */
$accent: black;
//$layout: red;
$layout: transparent;
$keywidth: 2rem;
$keyheight: 4rem;
* {
  font-family: 'Syne Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}
