/* You can add global styles to this file, and also import other style files */
$accent: black;
//$layout: red;
$layout: transparent;
$keywidth: 2rem;
$keyheight: 4rem;
* {
  @import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');
  font-family: 'Overpass Mono', monospace;

  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}
