.player .video-js {
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto !important;
  height: auto !important;
}

.player {
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto !important;
  height: auto !important;
}
