@import "../../../styles";

:host {
  display: block;
  margin: 16px;
  border: solid 2px transparent;
}

:host:hover {
  border: solid 2px $accent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.description {
  display: flex;
  justify-content: center;
}

.name {
  text-transform: uppercase;
  color: $accent;
}
